# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
*.xml
*.iml
*.gz
MNIST_data
test.py
main.py
data_batch_*
test_batch
*.meta
*.html
CIFAR_data
*.zip
val_data
test.py
train_data_batch_*
cifar10.py
cifar10_input.py
show_pic.py
main.py
__init__.py
*.off
*.bin
*.xyz
*.txt
model.*
checkpoint
VoxNet-for-01-padding/*
VoxNet-features/*
*.tfrecords
*.csv
*.xml
*.iml
*.png